.active {
  color: var(--active-txt);
  text-decoration: underline;
}

.normal {
  color: var(--mid-gray-txt);
  text-decoration: none;
}

.normal:hover {
  color: var(--active-txt);
}

.nav {
  background: var(--card-bg);
  width: 100%;
  max-width: 1300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed !important;
  z-index: 5;
  align-self: center;
}

.desktopMenu {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

.leftBlock {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.iconLink {
  display: inline-flex;
  transition: opacity 0.2s ease;
}

.iconLink:hover {
  opacity: 0.7;
}

.linksWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.actionCta {
  border: none;
  background-color: var(--blue-cta);
  border-radius: 30px;
  padding: 12px 18px;
  color: var(--active-txt);
  font-family: var(--font-inter);
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--hover);
  }
}

/*///MOBILE*/
.menuBars {
  width: 48px;
  height: 24px;
  border-radius: 1100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  transition: background-color 0.2s;
}

.menuBarsNoBg {
  background-color: transparent;
}

.span {
  background: black;
  height: 1px;
  width: 35%;
  border-radius: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    transform 0.4s,
    width 0.3s;

  &:nth-child(2) {
    &.spanOpen {
      width: 0;
    }
  }

  &:first-child {
    transform: translate(-50%, 5px);

    &.spanOpen {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:last-child {
    transform: translate(-50%, -6px);

    &.spanOpen {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@media (width >= 450) {
  .menuBars {
    display: none;
  }
}

@media (width < 450) {
  .nav {
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: transparent;
  }

  .desktopMenu {
    display: none;
  }
}
