.heroWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}

.h1 {
  font-family: var(--font-space-grotesk);
  font-weight: 300;
  color: var(--active-txt);
  font-size: 58px;
  z-index: 1;
}

.h2 {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  color: var(--blue-cta);
  font-size: 35px;
  z-index: 1;
}

.fakeBox1 {
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex: 1;
}

.fakeBox2 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex: 1;
}

.gradientCard {
  width: 100%;
  max-width: 1103px;
  background: linear-gradient(to bottom, #17171a 0%, transparent 100%);
  height: auto;
  max-height: 343px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100%;
    max-width: 1098px;
    height: 343px;
    border: 1.33px solid var(--hero-lines);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 35px;
    border-top: 1px solid var(--lines);
  }
}

.leftContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 30px;
  padding-top: 20px;

  span {
    z-index: 1;
  }
}

.profileImgWrapper {
  position: relative;
  flex: 1;
}

.profileImg {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.decorationImg {
  position: absolute;
  right: 0;
  top: 30px;
}

@media screen and (max-width: 800px) {
  .profileImg {
    width: 400px;
  }
}

@media screen and (max-width: 650px) {
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 30px;
  }

  .leftContent {
    flex: unset;
  }

  .profileImg {
    width: 280px;
  }

  .decorationImg {
    top: unset;
    bottom: 70px;
  }

  .fakeBox1,
  .fakeBox2 {
    display: none;
  }

  .gradientCard {
    /*max-height: 70vh;*/
    /*max-height: 70svh;*/
    /*flex-direction: column;*/
    /*flex: 1;*/
    padding: 0 10px;
    min-height: 80vh;
    min-height: 80dvh;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}
