.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-family: var(--font-inter);
  font-size: 14px;
  letter-spacing: 2px;
}

.h4 {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  color: var(--blue-cta);
  font-size: 32px;
}

.bold {
  font-family: var(--font-space-grotesk);
  font-weight: 300;
  color: var(--active-txt);
  font-size: 32px;
}
