.skillCard {
  display: flex;
  flex-direction: column;
  /*background: var(--card-bg);*/
  background: linear-gradient(
    to left,
    rgba(14, 14, 16, 1) 0%,
    rgba(23, 23, 26, 0.23) 100%
  );
  width: 100%;
  /*max-width: 369px;*/
  height: 200px;
  padding: 24px 40px;
  align-items: center;
  z-index: 1;
}

.cardIconWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 55px;
  height: 55px;
}

.decorationImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.skillTitle {
  color: var(--active-txt);
  font-weight: 500;
}

.description {
  text-align: center;
  font-size: 13px;
}
