.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  flex: 1;
  font-family: var(--font-inter);
  max-width: 1280px;
  /*background-image: repeating-linear-gradient(*/
  /*  to right,*/
  /*  transparent 0px,*/
  /*  transparent 50px,*/
  /*  rgba(255, 255, 255, 0.01) 50px,*/
  /*  rgba(255, 255, 255, 0.01) 51px,*/
  /*  transparent 51px,*/
  /*  transparent 61px*/
  /*);*/
}

.page h1 {
  font-family: var(--font-space-grotesk);
  font-weight: 300;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}
