.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  flex: 1;
  font-family: var(--font-inter);
  max-width: 1140px;
  overflow-y: auto;
  position: relative;
}

@media (width < 450px) {
  .page {
    padding: 0 10px;
  }
}

.gridWrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 80.33px);
  position: absolute;
  top: 0;
  right: 0;
  gap: 16px;

  div {
    border: 1px solid var(--lines);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}
